pip==24.2
matplotlib==3.9.2
nba_api==1.6.1
numpy==1.26.4
pandas==2.2.2
plotly==5.24.1
scikit-learn==1.5.1
scikit-plot==0.3.7
scipy==1.11.4
seaborn==0.13.2
shap==0.46.0
statsmodels==0.14.4
tensorflow==2.18.0
keras==3.7.0
xgboost==2.1.2
streamlit==1.41.1
statsmodels==0.14.4

