# Visualisation
matplotlib==3.9.2
seaborn==0.13.2
plotly==5.24.1

# Data manipulation
numpy==1.26.4
pandas==2.2.2
scipy==1.11.4

# Machine Learning
scikit-learn==1.5.1
scikit-plot==0.3.7
shap==0.46.0
xgboost==2.1.2

# Deep Learning
tensorflow-cpu==2.18.0  # Version allégée de TensorFlow
keras==3.7.0

# Statistiques
statsmodels==0.14.4

# API NBA
nba_api==1.6.1

# Streamlit
streamlit==1.41.1


protobuf==5.29.3